 /* width */
    ::-webkit-scrollbar {
    width: 1px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
    background: #dc3545; 
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
    background: #888; 
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
    background: #555; 
    }
    @font-face {
        font-family: fonte;
        src: url(font.ttf);
    }
    .corpo{width: 100%;max-width: 500px;display: block;margin:0 auto;padding: 2%;font-family: "fonte" ;height: 98vh;position: relative;margin-top: 1vh;overflow-y: auto;}
    .botao{position:fixed;bottom:2vh;border-radius: 0;left:3%;width: 94%;font-weight: bold;}
    .botaocard{width:100%;font-family: bold;border-radius: 0;text-align: left;margin: 5px 0;text-transform: uppercase;}

    input {border-radius: 0 !important}
    h3{text-align: center;font-size: 15px;}
    @media screen and (max-width:400px) {
        .corpo{width: 98%;}
    }

    .mesas{
        position: relative;
        display: inline-block;
        margin: 5px;
        font-size: 17pt;
        padding: 10px;
        border: 1px solid #ff000050;
        width: 65px;
        text-align: center;
    }
    .mesas a{
        text-decoration: none;
        color: black;
        margin: 0;
        padding: 0;
    }
    .mesas p{
        margin: 0;
        padding: 0;
    }
    .mesas .vipmesa{
        position: absolute;
        top: -2px;
        left: 1px;
        text-decoration: none;
        color: #ff0000;
        font-size: 9pt;
    }
    .mesas .numeromesa{
    }


.background-image {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100vh;
     z-index: -1;
 }

 .background-image img {
     display: block;
     width: 100%;
     height: 100vh;
     opacity: .12;
 }

 .details-conta{font-size: 15px;line-height: 25px;}
 .details-conta p{margin: 0;}
 .details-conta p span{font-weight: bold;}

 .topo {width: 100%;display: block;box-shadow:0px 0px 7.4px 1px rgba(255, 0, 0, 0.1);margin-bottom: 10px;padding: 10px;}
 .topo img{width:100px;display: block;margin:0 auto;}
 .topo h2{text-align: center;}